html{
    box-sizing:border-box;
    font-size:1.2rem;
    background-color: white;
}

body{
    font-family: "Jost", sans-serif;
    margin:0.2rem;
    line-height:1.5;
    color:black;
}

h1{
    color:blue;
    font-size:2.4rem;
}

h6{
    color:blue;
    font-size:2.4rem;
}

li{
    color:blue;
}

ul li{
    padding-left:1rem;
    line-height:1.5rem;
}

ul ul li{
    padding-left:0.01rem;
}
