/*  ---------------Box Sizing-----------------  */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*----------------Responsive Images ----------------*/
img{
  max-width:100%;
}

/*----------------Global Styles ------------------*/
body{
    font-family: "Jost", sans-serif;
    margin:0;
    line-height:1.5;
}

.container{
  width:80vw;
  max-width:1140px;
  margin:20px auto;
}

header.primary{
  background:#7A37FF;
  text-align:left;
  text-shadow: 2px 2px 3px #ffffff;
  color:white;
  /*Single value short hand*/
  padding:40px;
}

footer.primary{
  background:#161616;
  text-shadow: 2px 2px 3px #000000;
  color:white;
  /*Single value short hand*/
  padding:40px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}

.navtext{
    padding: 5px 0;
}

header.primary {
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

header.primary nav{
    flex: 1;
    display: flex;
    justify-content: center;
}

header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  gap: 20rem;
  margin:20px 0 10px 0;
  padding: 0;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul a{
  color:#ffffff;
  background-color:#000000;
  padding:5px 7.5px;
  border-radius:80px;
  text-decoration:none;
  opacity:1;
  background-color:(#000000);
  background-color:rgba(0, 0, 0, .4);
  font-size:1rem;
  transition:.4s;
}

header.primary nav a:hover{
  background-color:rgba(255, 255, 255, 0.8);
}

.header-padding {
  display: flex;
  align-items: center;
}

#main-content{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    border-bottom: 1px solid #000;
}

#product{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

#product h1 {
    flex-basis: 100%;
    margin-bottom: 10px;
}

.pc{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    width: 400px;
}
.pc img {
    display: block;
    max-width: 100%;
}

footer.primary{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}






/* Media Queries      @media print, screen, all*/

@media screen and (max-width: 550px){
  header.primary nav ul{
  flex-direction:column;
  gap: 12px;
  }

  header.primary nav ul a{
    display:block;
  }

  #content{
    flex-direction:column;
  }

  .container{
    background-color:transparent;
    width:90vw;
    margin:20px auto;
  }
}